/* Секція категорії */
.main-category {
  padding-top: 70px;
  padding-bottom: 80px;
}
.caregory-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}
.category-items {
  display: flex;
  gap: 30px;
}
.category-item {
    flex-direction: column;
    gap: 15px;
  min-width: 166px;
  min-height: 128px;
  background-color: #f2f3f6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-item::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/Category/brush.svg);
}
.category-item:nth-child(2)::before {
  background-image: url(/img/Category/browser.svg);
}
.category-item:nth-child(3)::before {
  background-image: url(/img/Category/edit\ 1.svg);
}
.category-item:nth-child(4)::before {
  background-image: url(/img/Category/fingerprint.svg);
}
.category-item:nth-child(5)::before {
  background-image: url(/img/Category/camera.svg);
}
.category-item:nth-child(6)::before {
  background-image: url(/img/Category/school\ 1.svg);
}
.category-item:hover {
  background-color: #1a77e8;
  color: #fff;
  cursor: pointer;
}
.category-item:hover::before {
  filter: brightness(0) invert(1);
}
